@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<p>@ViewBag.Message</p>

<form>
    <div>
        <label>Card Name - </label>
        <input type="text"/>
    </div>
    <div>
        <label>Set Code - </label>
        <input type="text"/>
    </div>
    <div>
        <label>Converted Mana Cost - </label>
        <input type="number"/>
    </div>
    <div>
        <label>MCI Number - </label>
        <input type="number"/>
    </div>
    <div>
        <label>Mana Cost - </label>
        <input type="text"/>
    </div>
    <div>
        <label>Card ID - </label>
        <input type="text"/>
    </div>
    <div>
        <label>Flavor Text - </label>
        <input type="text"/>
    </div>
    <div>
        <label>Number - </label>
        <input type="number"/>
    </div>
    <div>
        <label>Power - </label>
        <input type="text"/>
    </div>
    <div>
        <label>Toughness - </label>
        <input type="text"/>
    </div>
    <div><a class='dropdown-button btn' href='#' data-activates='dropdown1'>Drop Me!</a>
        <ul id='dropdown1' class='dropdown-content'>
            <li><a href="#!">one</a></li>
            <li><a href="#!">two</a></li>
            <li class="divider"></li>
            <li><a href="#!">three</a></li>
            <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
            <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
        </ul>
        <label>Rarity - </label>
        <input type="text"/>
    </div>
    <div><a class='dropdown-button btn' href='#' data-activates='dropdown1'>Drop Me!</a>
        <ul id='dropdown1' class='dropdown-content'>
            <li><a href="#!">one</a></li>
            <li><a href="#!">two</a></li>
            <li class="divider"></li>
            <li><a href="#!">three</a></li>
            <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
            <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
        </ul>
        <label>Card Layout - </label>
        <input type="text"/>
    </div>
    <div>
        <label>Card Type - </label>
        <input type="text"/>
    </div>
    <div>
        <label>Card Subtype - </label>
        <input type="text"/>
    </div>
    <div>
        <label>Card Text - </label>
        <input type="text"/>
    </div>
    <div>
        <label>Multiverse ID - </label>
        <input type="number"/>
    </div>
    <div>
        <label>Card Colors - </label>
        <input type="text"/>
    </div>
    <div>
        <label>Card Color Identity</label>
        <input type="text" />
    </div>
    <div>
        <label>Card Artist</label>
        <input type="text" />
    </div>
    <div>
        <input type="submit" />
    </div>
</form>