@model TriskaidekaphobiaLib.Models.MTGCardList

@{
    ViewBag.Title = "SearchResult";
}

<h2>Results</h2>

<p>"@Model.Cards.Count()" Results Found</p>

@{
    if (Model.Cards.Count() >= 1)
    {
        int i = 0;


        foreach (var card in Model.Cards)
        {
            if (i < 100)
            {
           @Html.Partial("_MTGCardView", card);
            }
            else
            {
                break;
            }
            i++;
        }
    }
    else
    {
        <p>No cards matched your search.</p>
    }
}