body {
    font-family: 'magic-font';
    color: black;
    padding-left: 200px;
}

.nav-wrapper {
    color: #455a64;
}
.input-field label{
    position:unset;

}

select{
    display: none;
}
.logoImage{
    width:750px;
}
.logoImageNav {
    margin: 10px;
    width: 180px;
}

.blackOutline {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.whiteOutline {
    text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;
}

